body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
}
main{
        margin : 0 1.2rem;
        font-family: 'Poppins', sans-serif;
}
header{
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 1;
        height: 5.5rem;
        top: 0;
}  
footer{
        width: 100%;
}
h1{
        font-weight: 700;
        font-size: 1rem;
        margin: 0;
}
h2{
        font-weight: 600;
        margin: 0;
        font-size: 1.1rem;
}
h3{
        font-weight: 400;
        margin: 0;
        font-size: .9rem;
        color: rgba(0, 0, 0, 0.8);
}
h4{
        font-weight: 400;
        margin: .5rem 0 0 0;
        font-size: .9rem;
}
h5{
        font-weight: 600;
        margin: .2rem 0;
        font-size: .8rem;
        color: rgba(0, 0, 0, 0.8);
}
h6{
        font-weight: 700;
        margin: 1.6rem 0 3rem 0;
        font-size: 1.5rem;
        text-align: center;
}
.product{
        border-radius: .5rem;
        margin-bottom: 1rem;
        padding: .5rem;
        position: relative;
}
#cart-items{
        margin-top: 7rem;
        margin-bottom: 10rem;
}
#cart-items img{
        width: 4.8rem;
        border-radius: .2rem;
        position: absolute;
        top: .45rem;
        right: .45rem;
}
.arrow{
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
}
.arrow button{
        font-size: 1.5rem;
        padding: .8rem 1rem;
        background-color: #f6f368;
        border-radius: 50%;
        border: none;
}
.arrow button:active{
        background-color: #dcd94a;
}
.quantidade{
        display: flex;
        padding: .02rem .1rem .08rem;
        width: auto;
        font-size: .8rem;
        border-radius: .2rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 3.8rem;
        right: 5.8rem;
        border: .1px solid rgba(0, 0, 0, 0.1);
        justify-content: space-between;
}
.quantidade i{
        font-size: .7rem;
        color: red;
}
.quantidade button{
        border: none;
        background-color: transparent;
}
.quantidade span{
        margin: 0 .5rem;
}
#cart-total {
        position: fixed;
        bottom: 0;
        background-color: white;
        border-radius: 1rem 1rem 0 0;
        width: 100%;
        box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.1);
}
#cart-total h3{
        font-size: 1rem;
        padding: 1rem 5vw;
}
#cart-total button{
        background-color: #f6f368;
        border: none;
        padding: .7rem;
        font-size: 1rem;
        font-weight: 600;
        width: 90vw;
        border-radius: 2rem;
        margin: 0 5vw 1rem 5vw;
        color: black;
}      
#cart-total button:active {
        background-color: #dcd94a;
}

@media screen and (min-width: 768px) {
        html{
                max-width: 768px;
                margin: auto;
        }
        header{
                width: 768px;
        }
        #cart-total{
                width: 768px;
                border-radius: 1rem 1rem 0 0;
        }
        #cart-total button{
                width: 90%;
                margin: 0 5% 1rem 5%;
        }
}