body{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
}
main{
        justify-content: center;
        align-items: center;
}
h1{
        font-weight: 700;
        margin: 0 .8rem .6rem;
        font-size: 1.3rem;
}
h2{
        font-weight: 600;
        margin: 0;
        font-size: 1.5rem;
}
h3{
        font-weight: 400;
        margin: 0;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.8);
}
h4{
        font-weight: 400;
        margin: .5rem 0 0 0;
        font-size: .9rem;
        word-wrap: break-word;
}
h5{
        font-weight: 600;
        margin: .2rem 0;
        font-size: .8rem;
        color: rgba(0, 0, 0, 0.8);
}
h1, h2, h3, h4, h5{
        word-wrap: break-word;
        max-width: 100%;
}
.product{
        margin : 0 1.2rem;
}
.product-image img{
        top: 0;
        margin: 0;
        width: 100vw;
}
.arrow{
        position: absolute;
        top: 1rem;
        left: 1rem;
}
.arrow button{
        font-size: 1.5rem;
        padding: .8rem 1rem;
        background-color: #f6f368;
        border-radius: 50%;
        border: none;
}
.arrow button:active{
        background-color: #dcd94a;
}

@media screen and (min-width: 768px) {
        html{
                max-width: 768px;
                margin: auto;
        }
}